* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; line-height: 1.6; }
         table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
                text-align: center;
        }
       
        a{
            color: white; 
            /* text-decoration: none;  */
        } 

    /* Основной контент */
    main { 
        display: flex; 
            padding: 1rem; 
            gap: 1rem; 
            max-width: 1000px; 
            margin: 0 auto; 
            color: #C45D09; 
        }
        
        /* Статьи */
        section { flex: 3; }
        article { 
            background: #f9f9f9; 
            padding: 1rem; 
            margin-bottom: 1rem; 
            border-radius: 5px; 
        }
        

        
        /* Подвал */
        footer { 
            background: #2B425C; 
            color: white; 
            text-align: center; 
            padding: 1rem; 
            margin-top: 1rem; 
        }
        
        .hid { 
            color: white; 
            text-shadow:
            1px 1px 2px red,
            0 0 1em #2B425C,
            0 0 0.2em #2B425C;

        }
        .hbl { 
            color: #3165a2; 
        }
      /*  p { 
            color: #C45D09; 
        }  */

     .flex-container {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    #shad {  
        box-shadow: 0 0 10px gray; 
        } 

    #imh {
          margin-right: 10px;
        }

        /* Боковая панель  */
        aside { 
             flex 1; 
            
            background: #2B425C; 
            padding: 1rem; 
            border-radius: 5px; 
        }
        aside ul{ 
            list-style: none; 
            gap: 0.5rem; 
        }

        aside a{
            color: white; 
            text-decoration: none; 
        } 

        /* Адаптивность */
        @media (max-width: 600px) {
            main { flex-direction: column; }
      aside { 
            display: flex;
        }

        aside ul{ 
            display: flex;
            justify-content: center; 
            list-style: none; 
            gap: 0.5rem; 
        }
        }

@media screen  and (min-width: 600px) {
   aside {
  /*  flex-direction: column; */
  }
  aside  ul {
   /* flex-direction: column; */
  }
  aside  ul li {
    margin: 5px;
  }
}
.image-container img {
transition: transform 0.5s ease;
}
div {
  background-repeat: no-repeat;
}
.exm {
  background: url("img/boat.jpg") top right no-repeat;
}
